body {
<<<<<<< HEAD
  font-family: sans-serif;
  box-sizing: border-box;
  background-size: 100%, 100%;
}

* {
  color: #facade;
}

footer, header {
  position: absolute;
  padding: 9px;
  left: 50%;
  transform: translate(-50%);
}

top {
  top:  9%;
}

footer {
  bottom: 3%;
}

span {
  background: #111e;
  padding: 9px;
  width: fit-content;
}

.score {
  justify-self: center;
}

header, footer {
  display: grid;
  grid-template-rows: 27px 27px;
  grid-template-columns: 81px 81px 81px;
  background: #111e;
  padding: 9px;
}

#container {
  background:#111e;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 9px;
}
=======
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

>>>>>>> 2e0dd521b4a29930d5670a2c142a4400d7cffc1a
